// purple
$primary: #8750f7;
$secondary: #2a1454;
$secondary-alpha: #2a145496;

$dark-1: #0f0715;
$dark-2: #140c1c;

// grey
$grey-1: #747779;
$grey-33: #747772;
$grey-2: #d9d9d9;
$grey-3: #dddddd;
$grey-4: #22272c;

//black

$black: #000000;
$black-alpha: #000000d4;
$black-2: #050709;
