@import './Colors.scss';

.text-gradient {
	background: linear-gradient(to right, $primary 0%, #fff 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-size: 30px;
}

@media (min-width: 768px) {
	h2 {
		font-size: 35px;
	}
}

@media (min-width: 1024px) {
	h2 {
		font-size: 40px;
	}
}

@media (min-width: 1400px) {
	h2 {
		font-size: 50px;
	}
}


html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

.logo-name,
.logo-name--mobile {
	font-family: 'Jersey 15', sans-serif;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1440px;
	}
}
